body{
    background: rgb(53, 53, 53);
    display: flex;
    margin: 0px auto;
    justify-content: space-around;
    margin-top: 15vh;
    width: 65vw;
}
.player1{
    background: rgba(255, 0, 0, 0.599);
}
.player2{
    background: rgba(0, 0, 255, 0.556);
}
.boxes{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
}
.game{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    /* border: 2px solid white; */
}
.gameInfo{
display: flex;
flex-direction: column;
justify-content: center;
}
#info{
    justify-content: center;
    text-align: center;
    font-weight: bolder;
}
#reset{
    margin-top: 20px;
    font-size: 20px;
    padding: 5px 25px;
    border-radius: 10px;
}
.g{
    display: flex;

}

.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}