.boxes{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
}
.game{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    /* border: 2px solid white; */
}

.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}